examples/n8n-claw-webhook-workflow.json
{
  "name": "Claw Webhook Orchestrate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claw-orchestrate",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CLAW_WEBHOOK_URL || 'http://127.0.0.1:8790/v1/orchestrate' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Claw-Webhook-Token",
              "value": "={{ $env.CLAW_WEBHOOK_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ prompt: $json.body.prompt || $json.body.message, repo_url: $json.body.repo_url, project_name: $json.body.project_name, stack: $json.body.stack }) }}"
      },
      "name": "Claw Orchestrate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Claw Orchestrate", "type": "main", "index": 0 }]]
    },
    "Claw Orchestrate": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  }
}
